body{
    display: flex;
    height:100vh;
    width:100vw;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    min-width: 75%;
    height: 100%;
    background: url('../Images/background.jpg');
    background-size: cover;
}

p{
    margin-right: 5%;
    width: 40%;
    height: 5%;
    border-radius: 100%;
    text-align: center;
    background-color: rgb(118, 125, 135, .5);
    color: #69429b;
    animation-duration: 10s;
    animation-name: colorAnimation;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

aside{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    min-height: 100%;
    background-color: #c5dbc0;
}

button{
    margin: 0 15px;
}

.dealerCards .playerCards{

}

.cards{
    margin: 20px 0;
    border-radius: 10%;
    width: 100px;
    height: 200px;
    position: relative;
    border: 5px solid black;
}

.chips{
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.chips > img{
    width: 100px;
    height: 100px;
    margin-right: 5%;
}

@keyframes colorAnimation{
    0%       {background-color: red; color: whitesmoke;}
    10%      {background-color: orange; color: violet;}
    20%      {background-color: yellow; color: magenta;}
    30%      {background-color: green; color: maroon;}
    40%      {background-color: blue; color: mintcream;}
    50%      {background-color: purple; color: chartreuse;}
    60%      {background-color: brown; color: cornflowerblue;}
    70%      {background-color: white; color: turquoise;}
    80%      {background-color: black; color: indigo;}
    90%      {background-color: pink; color: orchid;}
    100%     {background-color: gray; color: hotpink;}
}