body{
    display: flex;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    min-width: 75%;
    height: 100%;
    background: url('../Images/background.jpg');
    background-size: cover;
}

p{
    margin-right: 5%;
    width: 100px;
    text-align: center;
    background-color: rgb(118, 125, 135, .5);
    color: #69429b;
    animation-duration: 10s;
    animation-name: slidein;
    font-weight: bolder;
}

aside{
    min-width: 25%;
    min-height: 100%;
    background-color: #c5dbc0;
}

.dealerCards .playerCards{

}

.cards{
    margin: 20px 0;
    border-radius: 10%;
    width: 100px;
    height: 200px;
    position: relative;
    border: 5px solid black;
}

@keyframes slidein{
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }